---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/SE17QD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"361-L7VrDXW3HuMgFqM+YjyYpD8TP5I"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"SE1 7QD","quality":1,"eastings":531513,"northings":179395,"country":"England","nhs_ha":"London","longitude":-0.106793,"latitude":51.498204,"european_electoral_region":"London","primary_care_trust":"Southwark","region":"London","lsoa":"Southwark
        034A","msoa":"Southwark 034","incode":"7QD","outcode":"SE1","parliamentary_constituency":"Bermondsey
        and Old Southwark","admin_district":"Southwark","parish":"Southwark, unparished
        area","admin_county":null,"admin_ward":"St George''s","ced":null,"ccg":"NHS
        South East London","nuts":"Lewisham and Southwark","codes":{"admin_district":"E09000028","admin_county":"E99999999","admin_ward":"E05011114","parish":"E43000218","parliamentary_constituency":"E14000553","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"TLI44","lsoa":"E01003930","msoa":"E02006802","lau2":"E09000028"}}}'
  recorded_at: Sat, 12 Mar 2022 14:06:32 GMT
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/SE17QA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"330-tRr7ptnfrETmMK1ctDRco0TH15k"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"SE1 7QA","quality":1,"eastings":531183,"northings":179317,"country":"England","nhs_ha":"London","longitude":-0.111573,"latitude":51.49758,"european_electoral_region":"London","primary_care_trust":"Lambeth","region":"London","lsoa":"Lambeth
        036B","msoa":"Lambeth 036","incode":"7QA","outcode":"SE1","parliamentary_constituency":"Vauxhall","admin_district":"Lambeth","parish":"Lambeth,
        unparished area","admin_county":null,"admin_ward":"Bishop''s","ced":null,"ccg":"NHS
        South East London","nuts":"Lambeth","codes":{"admin_district":"E09000022","admin_county":"E99999999","admin_ward":"E05000416","parish":"E43000212","parliamentary_constituency":"E14001008","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"TLI45","lsoa":"E01003014","msoa":"E02006801","lau2":"E09000022"}}}'
  recorded_at: Sat, 12 Mar 2022 14:06:32 GMT
recorded_with: VCR 6.0.0
